/* CSS STARTS HERE */

/* Brand Font */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bs-body-font-family: 'Epilogue', sans-serif;
    --bs-heading-font-family: 'Epilogue', sans-serif;

    /* Primary - Dark Green */
    --bs-primary: #142410; 
    --bs-primary-rgb:20, 36, 16;

    --bs-success:#F0E7C2;
    --bs-success-rgb:240, 231, 194;

    /* Secondary - Off White LIGHTER */
    --bs-light: #FBF8ED;
    --bs-light-rgb:251, 248, 237;

    /* Tertiary - Maroon */
    --bs-danger:#3B0001;
    --bs-danger-rbg:59, 0, 1 ;

    /* Accent - Orange */
    --bs-warning:#954130;
    --bs-warning-rgb:149, 65, 48 ;

    /* Accent - Light Green */
    --bs-info: #687451;
    --bs-info-rgb:104, 116, 81 ;

   /* LIGHT GREEN - LIGHTER */
    --pp-tertiary: #DBE2CC;

    /* LIGHT RED - WARNING VAR */
    --pp-warning-light: #DEB1A8;
}

.bg-pp-tertiary {
    background-color: var(--pp-tertiary);
}

.bg-pp-warning-light {
    background-color: var(--pp-warning-light);
}


/* --------------------- SKIP LINKS ------------------------- */
/* skip links */
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* focus status for skip links */
.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

/* --------------------- BUTTONS ------------------------- */

/* warning colour */
.btn-warning:hover {
    background-color:#5E2317;
}
button.btn.btn-warning:active {
    background-color: var(--bs-danger);
}
a.btn.btn-warning:active {
    background-color: var(--bs-danger);
}

/* danger colour */
.btn-danger:hover {
    background-color: var(--bs-warning);
}
button.btn.btn-danger:active {
    background-color: #2B0001;
    color: #B4AD93;
}

/* primary colour */
.btn-primary:hover {
    background-color: var(--bs-info);
}
a.btn.btn-primary:active {
    background-color: #001908;
    color: #B4AD93;
}

/* light colour */
.btn-light:hover {
    background-color:var(--bs-warning);
}
button.btn.btn-light:active {
    background-color: var(--bs-danger);
}


/* --------------------- NAV BAR ------------------------- */

.logo-img {
    height: 2.5rem;
    width: auto;
}

.nav-link:hover {
    font-weight: bold;
}


/* --------------------- FOOTER------------------------- */

.fa-brands {
    font-size: 2rem;
}

/* --------------------- HOMEPAGE ------------------------- */

/* adds background image to hero */
#hero-main {
    background-image: url(../images/homepage_hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: var(--bs-info);
}

/* colours button backgrounds */
.btn-warning {
    background-color:#954130;
}
.btn-danger {
    background-color: #3B0001;
}
.btn-primary {
    background-color:#142410;
}
.btn-light {
    background-color:#F0E7C2;
}

hr {
    color:#F0E7C2;
    margin: 0 8rem;
    border: 1px solid;

}

/* --------------------- ABOUT PAGE ------------------------- */

/* adds background image to hero */
#hero-about {
    background-image: url(../images/aboutus_hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: grey;
    /* CHANGE THIS BACKGROUND COLOUR TO ORANGE/GREEN LATER */
}

.card-img-top.our-values {
    height: 4rem;
    object-fit: contain;
    background-color: var(--pp-warning-light);
}

.about-images {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

/* --------------------- RESERVE PAGE ------------------------- */

#hero-form {
    background-image: url(../images/reserve_hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: grey;
}


#hero-reserve {
    background-image: url(../images/reserve_dig-deeper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: grey;
}